@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.cdnfonts.com/css/miama");
body {
  background-color: rgba(34, 34, 34, 1);
}
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.miama {
  font-family: "Miama", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
:root {
  --black-color: rgba(7, 9, 13, 0.9);
}
/* nav-bar */
.bg-dark {
  background-color: rgb(58, 57, 57);
  opacity: 0.9;
}

.brand {
  color: #e6533c;
  font-style: italic;
  font-weight: bolder;
  font-size: 2rem;
}
.display-flex {
  display: flex;
}
.nav-bar {
  justify-content: space-between;
  align-items: center;

  padding: 0px 100px;
  margin: 0 auto;
}
.nav-item {
  list-style: none;
  margin-right: 30px;
}
.nav-links {
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 46px;
  padding: 10px 0px;
}
.nav-link {
  text-decoration: none;
  font-weight: 500;
  color: white;
}
.home {
  background-color: #e6533c;
  padding: 10px 20px;
  border-radius: 46px;
}

/* Hamburger Menu Styling */
.hamburger {
  display: none;
  cursor: pointer;
  font-size: 2rem;
  color: white;
}

@media (max-width: 576px) {
  .nav-links {
    display: none;
  }

  .hamburger {
    display: block; /* Show hamburger menu on small screens */
  }
  .nav-bar {
    max-width: 580px;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    justify-content: space-between;
    padding: 0px 20px;
  }
  .brand {
    font-size: 2rem;
  }
}
header {
  max-width: 1550px;
  margin: 0 auto;
}
/*banner*/
/*banner-content*/
main {
  max-width: 1550px;
  margin: 0 auto;
}
.banner {
  padding: 0px 100px;
  display: flex;
  justify-content: space-between;
}
.banner-title {
  font-weight: bold;
  font-size: 4rem;
  color: white;
  margin: 0 0;
  margin-top: 100px;
  margin-bottom: 50px;
}
.space {
  margin-bottom: 20px;
}
.shape {
  font-size: 4.5rem;
  color: white;
}
.writing1 {
  display: none;
}
.btn {
  display: flex;
  gap: 10px;
}
.btn-primary {
  background-color: #e6533c;
  color: white;
  border-radius: 46px;
  padding: 10px 20px; /* Adjust padding as needed */
  border: none;
  font-size: 1rem;
  cursor: pointer;
}
.btn-secondary {
  background-color: rgba(13, 19, 33, 0.9);
  color: white;
  border-radius: 46px;
  padding: 10px 20px; /* Adjust padding as needed */
  border: none;
  font-size: 1rem;
  cursor: pointer;
  border: 1px solid white;
}
.picture-content {
  display: flex;
}
.picture-content img {
  width: 100%;
  height: auto;
  max-width: 350px;
}
.experience-year {
  height: 100px;
  width: 200px;
  background-color: rgba(255, 255, 255, 0.1);
  position: relative;
  left: 400px;
  top: 200px;
  text-align: left;
  border: 0px;
  border-radius: 16px;
}

#experience-badge {
  font-size: 2.5rem;
  font-weight: bold;
}
.white-letter {
  color: rgba(255, 255, 255, 0.65);
  font-size: 0.8rem;
}
.video-button {
  height: 100px;
  width: 200px;
  background-color: rgba(255, 255, 255, 0.1);
  position: relative;
  top: -190px;
  left: 90px;
  text-align: left;
  border: 0px;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
#video-badge {
  font-size: 2.5rem;
  font-weight: bold;
}
.circle {
  width: 50px;
  height: 50px;
  background-color: #e6533c;
  border-radius: 50%;
}
.triangle {
  position: relative;
  width: 0;
  height: 0;
  margin: 0 auto;
  top: 10px;

  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 30px solid white;
  transform: rotate(90deg);
}
/*Banner Responsive*/
@media (max-width: 576px) {
  .banner {
    padding: 0px 20px;
    display: flex;
    flex-direction: column;
  }
  .big {
    width: 200px;
  }
  .banner-title {
    font-size: 2rem;
    margin-top: 0px;
  }
  .shape {
    font-size: 2.5rem;
  }
  .writing {
    text-align: left;
  }
  .btn {
    display: flex;
    justify-content: space-between;
  }
  .btn-primary,
  .btn-secondary {
    font-size: 0.8rem;
  }
  .writing {
    display: none;
  }
  .writing1 {
    display: block;
    max-width: 70%;
    text-align: left;
  }
  .picture-content {
    display: block;
    margin-top: -70px;
  }
  .experience-year {
    height: 100px;
    width: 150px;
    background-color: rgba(255, 255, 255, 0.1);
    position: relative;
    left: 55%;
    padding: 0px 10px;
    top: 150px;
    text-align: left;
    border: 0px;
    border-radius: 16px;
  }
  #experience-badge {
    font-size: 1.5rem;
    font-weight: bold;
  }
  .white-letter {
    color: rgba(255, 255, 255, 0.65);
    font-size: 0.8rem;
  }
  .video-button {
    height: 100px;
    width: 200px;
    background-color: rgba(255, 255, 255, 0.1);
    position: relative;
    top: -300px;
    left: 5%;
    text-align: left;
    border: 0px;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
  }
  #video-badge {
    font-size: 1.5rem;
    font-weight: bold;
  }
}
/* Habit Section*/
.habits {
  padding: 0px 100px;
}
.habits-header {
  text-align: center;
}
.header-1 {
  font-size: 2.6rem;
  color: white;
  font-style: bold;
  margin: 0;
  padding: 0;
}
.habit-pictures h2 {
  font-size: 1rem;
  color: white;
  font-style: bold;
}
.movement,
.time,
.weight-loss,
.practice {
  text-align: center;
}
.movement img,
.time img,
.weight-loss img,
.practice img {
  border-radius: 50%;
  border: 2px solid black;
}
.habit-pictures {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
/*Header Responsive*/
@media (max-width: 576px) {
  .habits-header {
    margin-top: -100px;
  }
  .header-1 {
    font-size: 1.6rem;
    color: white;
    font-style: bold;
    margin: 0;
    padding: 0;
  }
  .habits {
    padding: 0px 40px;
  }
  .habit-pictures {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
  }
}
/*Run Section*/
.run {
  background-color: rgb(58, 57, 57);
  margin: 20px 100px;
  padding: 20px;
  border-radius: 1rem;
  display: flex;
  justify-content: space-between;
}
.run-content {
  max-width: 250px;
}
.run-picture img {
  width: 100%;
  border-radius: 8px;
  height: auto;
  max-width: 400px;
}
.club-button {
  margin-top: 50px;
}
/*Run Section Responsive*/
@media (max-width: 576px) {
  .run {
    margin: 20px 20px;
    padding: 20px 2.4rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  .run-picture img {
    width: 100%;
    max-height: 400px;
  }
  .header-1 {
    font-size: 1.6rem;
    color: white;
    font-style: bold;
    margin: 0;
    padding: 0;
  }
  .club-button {
    width: 100%;
  }
}
/*BMI Section*/
.bmi-header {
  margin: 30px 300px;
}
.bmi-calculator {
  background-color: rgb(58, 57, 57);
  padding: 3rem 100px;
  display: flex;
  gap: 100px;
  justify-content: space-between;
}

.header-2 {
  font-size: 1.6rem;
  color: white;
  font-style: bold;
  margin: 0;
  padding: 0;
  margin-bottom: 1.6rem;
}
table th {
  color: white;
}
table {
  border-collapse: collapse;
  width: 300px;
}

th,
td {
  padding: 12px;
  border: 1px solid #555;
  text-align: left;
}
form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}
input,
select {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #3d3d3d;
  color: rgba(255, 255, 255, 0.65);
  font-size: 1rem;
  width: 100%;
  box-sizing: border-box;
}

input::placeholder {
  color: #bbb;
}
#activity {
  grid-column: span 2;
}
/*BMI calculator responsive*/
@media (max-width: 576px) {
  table {
    border-collapse: collapse;
    width: 100%;
  }
  .bmi-header {
    margin: 30px 30px;
    margin-left: 20px;
  }
  .bmi-calculator {
    padding: 3rem 20px;
    display: flex;
    gap: 20px;
    flex-direction: column;
  }
}
/*Team Section*/
.team {
  margin: 20px 100px;
  margin-bottom: 50px;
}
.team-header {
  text-align: center;
  padding: 0px 230px;
  margin-bottom: 50px;
}
.team-members {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  background-color: rgb(58, 57, 57);
  padding: 20px;
  border-radius: 1rem;
}
.picture-1 img {
  width: 100%;
  height: auto;
  max-width: 350px;
  border-radius: 1rem;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
h4 {
  margin: 0 0;
  padding: 0 0;
}
.white-letter3 {
  position: relative;
  text-align: left;
  font-size: 0.7rem;
  color: rgba(255, 255, 255, 0.65);
}
.picture-1 {
  position: relative;
  text-align: center;
  color: white;
  width: 100%;
  padding-top: 100%;
  overflow: hidden;
}
.bottom-left {
  position: absolute;
  bottom: 1.5rem;
  left: 0.8rem;
  max-width: 150px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media (max-width: 576px) {
  .team-header {
    padding: 0px 50px;
  }
  .team {
    margin: 20px 20px;
  }
  .team-header {
    text-align: center;
    padding: 0px 25px;
    margin-bottom: 50px;
  }
  .team-members {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
    background-color: rgb(30, 29, 29);
    padding: 20px;
    border-radius: 1rem;
  }
}
/*Contact Section*/
footer {
  padding: 30px 100px;
  padding-bottom: 10px;
  background-color: rgb(58, 57, 57);
}
.about-us {
  display: flex;
  justify-content: space-between;

  align-items: center;
}

.about {
  max-width: 300px;
}

.about h1 {
  font-size: 4rem;
  font-weight: bold;
  color: #e6533c;
  font-style: italic;
  margin: 0;
  padding: 0;
}

.about p {
  font-size: 1rem;
  line-height: 1.6;
  color: rgba(255, 255, 255, 0.65);
  margin-top: 10px;
}

.links {
  max-width: 200px;
}

.links h2 {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 10px;
  color: rgba(255, 255, 255, 0.65);
}

.links ul {
  list-style-type: none;
  padding: 0;
}

.links ul li {
  font-size: 1rem;
  line-height: 2;
  color: rgba(255, 255, 255, 0.65);
}

.links ul li:hover {
  color: #ffffff;
  cursor: pointer;
}
footer > p {
  text-align: center;
}
footer hr {
  border: none;
  border-top: 1px solid rgba(112, 112, 112, 0.65);
}
/*Creative Section*/
.quote-carousel {
  width: 100%;
  overflow: hidden;
  background-color: rgba(34, 34, 34, 1);
}

.carousel-container {
  width: 200%;
  animation: slide 10s linear infinite;
}

.carousel-item {
  text-align: center;
  color: white;
  font-size: 3rem;
}
.quote-footer {
  color: white;
  background-color: rgba(34, 34, 34, 1);
  font-size: 3rem;
}
@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
/*Responsive footer and creative*/
@media (max-width: 576px) {
  footer {
    padding: 30px;
    padding-bottom: 10px;
    background-color: rgb(58, 57, 57);
  }
  .about-us {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .carousel-item {
    font-size: 1rem;
    font-weight: bold;
  }
  .quote-footer {
    font-size: 0.7rem;
  }
}
